/*HOMEPAGE*/
/*Background of 1st Page*/
.pg1h {
    background-color: rgb(255, 80, 80);
}
/*Heading*/
.pg1ti {
    font-size: 50px;
    background-color: rgb(255, 80, 80);
}
/*Body from Bootstrap*/
.pg1b {
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    text-align: center;
    background-color: lightgreen;
}
/*Button Position & Size*/
.b-a,.tra,.wea {
    border: none;
    padding: 15px 30px; 
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 30px; 
    margin: 15px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: transparent; 
    border: 5px solid black; 
    border-radius: 80px;
    font-family: 'Encode Sans', sans-serif;
    align-items: center;
}
/*Button Animation*/
  .b-a:hover,.b-r:hover,.tra:hover,.wea:hover {
    background-color: rgb(255, 80, 80);
    color: black;
}
/*END HOMEPAGE*/

/*BUS TIMING PAGE*/
.pg2h {
    background-color: rgb(255, 80, 80);
}
.pg2b {
    text-align: center;
    background-color: lightgreen;
}
table {
    font-size: 20px;
}
/*END BUS TIMING PAGE*/

/*WEATHER PAGE*/
.pg3b {
    font-family: "Nunito",sans-serif;
    background-color:lightgreen;
}

.input{
    text-align: center;
    margin: 100px 0;
}

.title {
    display: flex;
    background-color: rgb(255, 80, 80);
    font-family: "Nunito",sans-serif;
    padding: 20px 20px;
    justify-content: center;
}

.load {
    height: 50px;
    width: 600px;
    background:rgb(255, 80, 80);
    font-family: "Nunito",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

.display {
    text-align: center;
    font-size: 50px;
}
/*END WEATHER PAGE*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgreen;
    color: black;
    text-align: center;
 }