/*HOMEPAGE*/
/*Background of 1st Page*/
.pg1h {
    background-color: rgb(255, 80, 80);
}
/*Heading*/
.pg1ti {
    font-size: 50px;
    background-color: rgb(255, 80, 80);
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
}
/*Body*/
.pg1b {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    text-align: center;
    background-color: lightgreen;
}
/*Button Position & Size*/
.b-a,.tra,.wea {
    border: none;
    padding: 15px 30px; 
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 30px; 
    margin: 15px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: transparent; 
    border: 5px solid black; 
    border-radius: 80px;
    font-family: 'Catamaran', sans-serif;
    align-items: center;
}
/*Button Animation*/
  .b-a:hover,.b-r:hover,.tra:hover,.wea:hover {
    background-color: rgb(255, 80, 80);
    color: black;
}
/*END HOMEPAGE*/

/*BUS TIMING PAGE*/
.pg2h {
    background-color: rgb(255, 80, 80);
}
.pg2b{
    text-align: center;
    background-color: lightgreen;
    padding-top: 50px;
    font-family: 'Catamaran', sans-serif;
}
table {
    font-size: 10px;
    font-family: 'Catamaran', sans-serif;
}
.submit {
    border: none;
    padding: 5px 20px; 
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 15px 2px;
    cursor: pointer;
    background-color: rgb(255, 80, 80); 
    border: 3px solid black; 
    border-radius: 80px;
    font-family: 'Catamaran', sans-serif;
    align-items: center;
}
/*END BUS TIMING PAGE*/

/*WEATHER PAGE*/
.pg3b {
    background-color:lightgreen;
    font-family: 'Catamaran', sans-serif;
}

.input{
    text-align: center;
    margin: 100px 0;
}

.title {
    display: flex;
    background-color: rgb(255, 80, 80);
    padding: 50px 20px;
    padding-bottom: 30px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.load {
    height: 50px;
    width: 80px;
    background:rgb(255, 80, 80);
    
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

.display {
    text-align: center;
    font-size: 30px;
}
/*END WEATHER PAGE*/
/*CONST STYLES*/
/*Code from W3Schools*/
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Catamaran', sans-serif;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: lightgreen;
    color: black;
  }
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgreen;
    color: black;
    text-align: center;
    padding: 20px;
 }
/*End of W3Schools Code*/
 .grfooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 80, 80);
    color: black;
    text-align: center;
    padding: 20px;
 }
 /*END CONST STYLES*/